td
{
    padding:8px;
}

tbody tr 
{
    border-top: 1px solid black;
}

table
{
    border-collapse:collapse;
    width:100%;
}

thead
{
    font-weight:600;
}		

td
{

    text-align:center;
}

.buttonQuit
{
background-color: red;
height: 30px;
width: 30px;
color: white;
font-family: cursive;
border: 0;
}