body 
{
    overflow: hidden;
}

.panel_menu {
    background-color: black;
    color: white;
    height: 30px;
    padding: 5px;
    cursor: default;
}


.panel_menu_item {
    height: 30px;
    color: white;
    padding: 5px;
    cursor: pointer;
}