

	#containerConfig
	{
		display:flex;
		background-color:#80808036;
		height:400px;
		padding:8px;
	}

		#containerConfig_right
		{
			width:200px;
			background-color:white;
			margin-right:8px;
		}


		.boxMenu .boxMenu_active
		{
			border-bottom:1px solid gray;
			padding:8px;
		}

		.boxMenu_active
		{
			background-color:red;
			color:white;
		}

	#containerConfig_all	
	{
		flex:1;background-color:white;padding:15px;
	}	
