.producto {
    border: 1px solid gray;
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.producto > div:first-child > img {
    height: 200px;
    width: 100%;
    border-bottom: 1px solid gray;
}

.producto > div:last-child {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.selectNum {
    flex: 1;
}

.selectNum > select {
    border: 0;
    background: none;
    width: 100%;
    height: 30px;
    background-image: url("images/selecticon.svg ");
    background-repeat: no-repeat;
    background-position: 100% 10px;
    appearance: none;
}

.producto_moore {
    flex: 1;
}

.producto_control {
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.infoview {
    display: flex;
    align-items: center;
    background-color: #d2d2d2;
    width: 100%;
    height: 100px;
    margin-bottom: 15px;
}

.infoview_title {
    font-weight: 600;
    margin-bottom: 10px;
}

.infoview > img {
    width: 130px;
    height: 130px;
}

#visor {
    background-color: black;
}

.containerCard {
    display: flex;
    justify-content: space-around;

    margin-top: 50px;
    margin-bottom: 20px;
}

.containerCard > article {
    background-size: 100% 100%;
    padding-bottom: 35px;
    font-size: 19px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: end;
    width: 300px;
    height: 360px;
    border: 1px solid #00000038;
    box-shadow: 5px 6px 0px 0px #2828283d;
}

#portada {
    background-image: url("../images/fondoportada.jpg");
    margin: -8px;
    background-size: 100% 100%;
    display: flex;
    margin-bottom: 25px;
    justify-content: center;
    color: red;
    padding-top: 20%;
}
