.boxCat {
    border: 3px solid gray;
    cursor: pointer;
    padding: 4px;
    display: inline-block;
    margin: 3px;
    border-radius: 8px;
}

.boxProducto_price {
    position: absolute;
    background-color: red;
    width: 100px;
    height: 30px;
    border-radius: 0px 3px 34px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
}

#boxSearch {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

#boxSearch > div:first-child {
    width: 100%;
    max-width: 800px;
    border: 1px solid gray;
}

#boxSearch > div:first-child > div:first-child {
    border-bottom: 1px solid gray;
}

#boxSearch input {
    padding: 5px;
    height: 35px;
    border: 0;
    width: 100%;
}
#barButtons {
    display: flex;
    justify-content: center;
}

#barButtons > button {
    margin: 3px;
}

#containerProducts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 25px;
}

.producto {
    margin: 5px;
    border: 1px solid black;
    height: 410px;
    width: 300px;
}

.producto_image {
    width: 100%;
    height: 250px;
}

.producto_text {
    font-weight: 600;
    padding: 6px;
    text-align: center;
}

.producto_boxinfo {
    padding: 8px;
}

.producto select {
    width: 100%;
    height: 30px;
    background-color: white;
    border: 0px;
    appearance: none;
}

.producto_buttons {
    text-align: center;
}
