#containerNosotros {
    display: flex;
    height: calc(100vh - 39px);
}

#containerNosotros > div:first-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #80808036;
}

#containerNosotros_left {
    background-color: white;
    height: 90%;
    width: 90%;
    padding: 8px;
}

#containerForm {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
