#containerpoliticas {
    display: flex;
    justify-content: center;
}

#containerpoliticas > div:first-child {
    border: 1px solid black;
    width: 85%;
    margin: 10px;
}

#containerpoliticas_header {
    border-bottom: 1px solid black;
    display:flex;
    height:50px;
}

.politicasTab , .politicasTab_active{
    cursor:pointer;
    display: flex;
    align-items: center;

    border-right: 1px solid black;
    display: inline-block;
    padding: 8px;
}

.politicasTab_active {
    background-color: gray;
}

#politicasContainer {
    padding: 8px;
    min-height: 350px;
}
