* {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0;
}

header {
    background-color: #e2001a;
    padding: 8px;
    display: flex;
    align-items: center;
}

header h1 {
    color: white;
    font-size: 18px;
}

header > div {
    flex: 1;
    text-align: center;
}

header > div:first-child {
    padding-left: 7px;
    text-align: left;
}

header > div:nth-child(2) {
    flex: 2;
}

header > div:last-child:hover #boxloginregister {
    display: flex;
}

nav {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

nav > div {
    display: inline-block;
    border-bottom: 2px solid transparent;
}

nav > div.active {
    border-bottom: 2px solid white;
}

#container {
    flex: 1;
    padding: 8px;
}

footer {
    background-color: #e2001a;
}

#footer_header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    background-color: #ff4949;
    align-items: center;
}

#footer_container {
    display: flex;
    justify-content: center;
}

#footer_container li {
    list-style: none;
}

#footer_container > ul li:first-child {
    font-weight: 600;
}

#footer_copy {
    padding: 5px;
    font-size: 14px;
}

.iconRed {
    height: 30px;
    width: 30px;
}

#boxloginregister {
    position: fixed;
    right: 10px;
    background-color: white;
    width: 700px;
    border: 2px solid red;
    padding-bottom: 10px;
    display: none;
}

#boxloginregister .title {
    font-size: 19px;
    margin-bottom: 15px;
}

#boxloginregister > div {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#boxloginregister > div > div {
    margin-top: 20px;
}

#boxloginregister > div:first-child {
    border-right: 1px solid red;
}

.boxSearch {
    border: 1px solid gray;
    height: 30px;
    display: inline-flex;
    width: 490px;
    background-color: white;
}

.boxSearch > input {
    border: 0;
    flex: 1;
}

.boxSearch > button {
    border: 0px;
    background: none;
    border-left: 1px solid gray;
}

#iconBuy {
    background-color: white;
    border: 2px solid black;
    position: fixed;
    padding: 8px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

#iconBuy:hover {
    border-color: red;
    transition: 0.3s;
}

#iconBuy > img {
    margin-left: -2px;
    width: 30px;
    height: 30px;
}

#listBuy {
    position: fixed;
    background-color: white;
    height: 330px;
    bottom: 90px;
    box-shadow: 1px 12px 33px black;
    right: 10px;
    width: 300px;
    flex-direction: column;
}

#listBuy > div:first-child {
    background-color: red;
    height: 30px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.listBuy_item {
    border-bottom: 1px solid gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    padding: 8px;
}

.listBuy_item div:first-child img {
    border-radius: 100%;
    height: 60px;
    width: 60px;
}

#listBuy:before {
    border: 25px solid white;
    content: "";
    border-left-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    position: absolute;
    bottom: -48px;
    left: 80%;
}
