

	.boxInfo
	{
		background-color: white;
		height: 200px;
		width: 300px;
		border: 2px solid black;
		border-radius: 5px;	
		display:inline-flex;
		justify-content:center;
		flex-direction:column;
		align-items:center;
		margin:5px;
	}

		.boxInfo_icon
		{
			width:110px;
			height:110px;
		}
